---

---

<section>
    <div class="top-box box">
        <div class="text">
            <h2>Observe</h2>
            <p>Observe the activity of your page and gain an overview over how things are going with our dashboard!</p>
        </div>
        <div class="image">

        </div>
    </div>
    <div class="middle-box box">
        <div class="image">

        </div>
        <div class="text">
            <h2>Gather information</h2>
            <p>Connect your page to our system and automate information-gathering</p>
        </div>
    </div>
    <div class="bottom-box box">
        <div class="text">
            <h2>Learn</h2>
            <p>Find trends, faults, etc. And adapt to it!</p>
        </div>
        <div class="image">

        </div>
    </div>
</section>

<style>
    section { 
        position: relative;
		z-index: 1;
        
        width: 100%;

        padding: 10% 0;
        
	}

    .box {
        width: 80%;

        margin: 2rem auto;
        padding: 2rem;

        border-radius: 0.5rem;
        background-color: #000;
        color: #ffffff;
    }

    .text {
        width: 50%;
    }
    
    .image {
        width: 50%;
    }

</style>