.perspective{
  perspective: 1000px;
}

.centerpiece {
  transform-style: preserve-3d;
  transform: rotateX(50deg);
}

.card-aspect {
  aspect-ratio: 9/16;
}

.shadow-c {
  box-shadow: -1px 11px 17px 8px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 11px 17px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 11px 17px 8px rgba(0,0,0,0.75);
}

/* width */
.custom-scroll::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: rgb(30 58 138);;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgb(96 165 250);
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(59 130 246);
}