@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.lua {
  position: relative;
}
.lua::before {
  content: '';
  position: absolute;

  bottom: -0.1rem;
  left: 50%;
  transform: translateX(-50%);

  display: block;

  width: 0;
  height: 0.1rem;

  background-color: #ffffff;

  transition: 0.25s;
}
.lua:hover:before {
  width: 100%;
}