---

---

<section>

    <div>
        <h2>Who are we?</h2>
        <p>We are a small family from Norway - Vestfold</p>
    </div>

</section>

<style>
    section {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;

        background-image:
            linear-gradient(#FAFAFA,rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 80%,#FAFAFA),
            url('/assets/images/landingImageTwo.JPG');
        background-size: cover;
    }

    section>div {
        text-align: center;
        color: #ffffff;
    }
</style>