@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
    font-size: 4rem;
}

h2 {
    margin: 0;
    font-size: 2.5rem;
}

h3 {
    margin: 0;
    font-size: 2rem;
}