@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  @apply text-3xl font-bold m-0;
}

h2 {
  @apply text-2xl font-bold m-0
}

h3 {
  @apply text-xl font-bold m-0
}

p {
  @apply text-lg m-0
}

.codex-editor__redactor {
  padding: 0 !important;
}

.centerimg img {
  margin: 0 auto;
}
