---

---

<section>
    <h1>In production...</h1>
    <h1>Will be here in the future.</h1>
    <a class="button" href="/">Return home</a>
</section>

<style>
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: 100dvh;
        
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('/assets/images/landingImageTwo.JPG');
        background-size: cover;
        color: #ffffff
    }

    .button {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;

        background-color: #5F209E;
        color: #ffffff;
        text-decoration: none;
        font-size: 0.8rem;
        transition: 0.1s linear;
    }

    .button:hover {
        font-size: 1rem;
    }

    .button:active {
        font-size: 0.6rem;
    }
</style>