---
import AuthLayout from "../../layout/authLayout.astro";

import img1 from "/assets/images/img1.jpg"
---

<AuthLayout title="Login">

    <div class="login-wrapper">
        <div class="left">
            <img src={img1} alt="image">
        </div>
        <div class="right">
            <div class="input-wrapper">
                <input id="email" type="text" />
                <input id="password" type="password" />
            </div>
            <button id="login-btn">Login</button>
        </div>
    </div>

</AuthLayout>

<style>
    .login-wrapper {
        display: flex;

        width: 60%;
        height: 80vh;

        border-radius: 2rem;
        overflow: hidden;

        background-color: rgba(50, 50, 50, 1);
    }

    .left {
        width: 50%;
        height: 100%;
    }

    .left img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 50%;
        height: 100%;
    }

    @media (max-width: 800px) {
        .left {
            display: none;
        }

        .right {
            width: 100%;
        }
    }


    .input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        width: 60%;
        min-width: 10rem;

        margin-bottom: 2rem;
    }

    .input-wrapper input {
        width: 100%;
    }

    .right button {
		width: fit-content;
		min-height: 1rem;

		padding: 0.5rem 1rem;
		border-radius: 0.5rem;

		background-color: #69140e;
		color: #ffffff;
		text-decoration: none;
		font-size: 1rem;

		transition: 0.2s linear;
    }

    .right button:hover {
		background-color: #a72016;

	}
	.right button:active {
		background-color: #320906;
	}
</style>

<script>
import type { handleStandardLogin } from "../../js/firebase"

    const email:any = document.getElementById("email")
    const password:any = document.getElementById("password")
    const loginButton:any = document.getElementById("login-btn")

    if (email != null) {
        email.addEventListener("keyup", (e:any) => {
        })
    }
    if (password != null) {
        password.addEventListener("keyup", (e:any) => {
        })
    }

    loginButton.addEventListener("click", (e:any) => {
        const emailValue:string = email.value
        const passwordValue:string = password.value

        handleStandardLogin(emailValue, passwordValue)
            .then(result => {
                
            })


    })
</script>