@tailwind base;
@tailwind components;
@tailwind utilities;

.line-under-link {
    position: relative;
}

.line-under-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    /* transform: translateX(-50%); */
    
    width: 0;
    height: 2px;
    background-color: #fcfdfc;

    transition: 0.3s;
}

.line-under-link:hover::before {
    width: 100%;
}

.active.line-under-link::before  {
    width: 100%;
}

.shadow-accent {
    box-shadow: 0 10px 10px 5px rgba(120, 59, 79, 0.5);
}

.wone {
    animation-name: woneAni;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}
.wtwo {
    animation-name: wtwoAni;
    animation-timing-function: linear;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}
.wtree {
    animation-name: woneAni;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

@media (prefers-reduced-motion) {
    .wone {
        animation-play-state: paused;
    }
    .wtwo {
        animation-play-state: paused;
    }
    .wtree {
        animation-play-state: paused;
    }
    
}

@keyframes woneAni {
    from {
        top: 0
    }
    to {
        top: -150%
    }
}
@keyframes wtwoAni {
    from {
        top: -150%
    }
    to {
        top: 0
    }
}

.bg-c-accent-with-opacity-gradient {
    background: linear-gradient(to right, rgba(120, 59, 79, 1) 90%, rgba(120, 59, 79, 0.9));
}

.h-screen-wnav {
    min-height: calc(100vh - 10rem);
}

input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

.hidescroll::-webkit-scrollbar {
    display: none;
}

.ProseMirror {
    @apply w-full py-2 px-4 text-lg bg-c-background text-c-text 
    placeholder:text-c-text placeholder:opacity-75 outline-none 
    border-2 transition-colors duration-300 rounded-lg border-transparent focus:border-c-s-button
    min-h-[10rem]
}

.ProseMirror h1, .dsihRead h1 {
    @apply text-4xl
}
.ProseMirror h2, .dsihRead h2 {
    @apply text-2xl
}
.ProseMirror h3, .dsihRead h3 {
    @apply text-xl
}
.ProseMirror p, .dsihRead p {
    @apply text-lg
}

.ProseMirror h1.editor-bold, .dsihRead h1.editor-bold {
    @apply text-4xl font-bold
}
.ProseMirror h2.editor-bold, .dsihRead h2.editor-bold {
    @apply text-2xl font-bold
}
.ProseMirror h3.editor-bold, .dsihRead h3.editor-bold {
    @apply text-xl font-bold
}
.ProseMirror p.editor-bold, .dsihRead p.editor-bold {
    @apply text-lg font-bold
}

.ProseMirror .editor-link, .dsihRead .editor-link {
    position: relative;
}

.ProseMirror .editor-link::before, .dsihRead .editor-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    /* transform: translateX(-50%); */
    
    width: 0;
    height: 2px;
    background-color: #fcfdfc;

    transition: 0.3s;
}

.ProseMirror .editor-link:hover::before, .dsihRead .editor-link:hover::before {
    width: 100%;
}

.ProseMirror .editor-image, .dsihRead .editor-image {
    @apply w-full max-w-md rounded-lg
}