---
import Footer from '../components/index/footer.astro';
import Navigation from '../components/index/navigation.astro';
import Logo from '/icons/logo.svg'
import '../styles/global.css';

interface Props {
    title: string;
}

const { title } = Astro.props as Props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body style="padding: 0; margin: 0; min-width: 400px;">

		<Navigation />

		<div class="logo-wrapper">
			<img src={Logo} />
		</div>
		<main>
            <slot></slot>
        </main>

		<Footer />

    </body>
</html>

<style>

body {
	overflow: hidden;
	background: #000;
}

main {
	width: 100%;
	height: 100vh;

	overflow-y: scroll;
	background-color: rgba(21, 21, 21, 0.8) ;
}

.logo-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	overflow: hidden;
}

.logo-wrapper img {
	filter: brightness(22%) blur(0.5rem);

	animation-name: logoRotate;
	animation-timing-function: linear;
	animation-duration: 8s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

	@keyframes logoRotate {
        from {
            transform: rotateZ(0deg);
        }
        to {
            transform: rotateZ(360deg);
        }
    }
</style>