---
import Bottomnav from "../components/fs/bottomnav.astro";
import Inprod from "../components/inprod.astro";
import InformationLayout from "../layouts/informationLayout.astro";

---

<InformationLayout title="Family search">

    <section>
        
        <Bottomnav />
    </section>

</InformationLayout>