.visualize-sort {
    display: flex;
    align-items: flex-end;

    width: 40rem;
    height: 30rem;

    border: 2px solid gray;
    padding: 0;
    margin: 0;
}

.visualize-sort li {
    list-style: none;
    width: 100%;
    height: var(--height);
    background-color: var(--bg);
}
