:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #222222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: calc(100% - 4rem);
  height: 5rem;

  padding: 1rem 2rem;
}

nav a {
  height: 100%;
  aspect-ratio: 1;
}

nav a img {
  width: 100%;
  height: 100%;
  
  border-radius: 1rem;
}

nav input {
  font-size: 1rem;

  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: calc(100% - 4rem);
  height: calc(100% - 4rem);

  padding: 2rem;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  height: calc(100% - 20rem);

  background: linear-gradient(to bottom right, rgba(255,255,255,0.3), rgba(255,255,255,0.1));
  border-radius: 1rem;
}

.chat-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: 10rem;

  background: linear-gradient(to bottom right, rgba(255,255,255,0.3), rgba(255,255,255,0.1));
  border-radius: 1rem;
}

.chat-box-wrapper > input {
  font-size: 1rem;

  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: rgba(100, 100, 100, 0.4);
  color: #ffffff;

  outline: unset;
  border: none;
  border-top: 2px solid #000;
  border-left: 2px solid #000;

}

.chat-box-wrapper > input::placeholder {
  color: #aaaaaa
}

.file-wrapper {
  position: relative;
}

.file-wrapper.active {
  width: 5rem;
  aspect-ratio: 1;
}

.file-btn {
  position: relative;

  background: rgba(100, 100, 100, 0.4);
  color: #ffffff;

  border-radius: 1rem;
  padding: 0.5rem 1rem;

  outline: unset;
  border: none;
  border-top: 2px solid #000;
  border-left: 2px solid #000;

  opacity: 0;
  pointer-events: none;
}

.file-btn.show {
  opacity: 1;
  pointer-events: auto;
}

.file-btn input {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.file-btn p {
  margin: 0;
}

.file-preview {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;

  border-radius: 1rem;
  overflow: hidden;  

  opacity: 0;
  pointer-events: none;
}

.file-wrapper > .file-preview > img {
  position: relative;

  width: 100%;
  height: 100%;

  object-fit: contain;
}

.file-wrapper > .file-preview.show {
  opacity: 1;
  pointer-events: auto;
}

.file-wrapper > .file-preview button {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;

  outline: unset;
  border: unset;

  pointer-events: none;
  opacity: 0;

  transition: 0.25s;
}

.file-preview:hover button{
  pointer-events: auto;
  opacity: 1;
}

.send-btn {  
  font-size: 1rem;

  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: rgba(100, 100, 100, 0.4);
  color: #ffffff;

  outline: unset;
  border: none;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}