---
// component imports
import Navigation from "../../components/dashboard/navigation.astro";
import DashboardNavigation from "../../components/dashboard/dashboardNavigation.astro";
import Socials from "../../components/dashboard/socials.astro";
// layout imports 
import Layout from "../../layouts/dashboardLayout.astro";

---

<Layout>
    <section>
        <Navigation />
        
        <div>
            <DashboardNavigation />
            <div class="dashboard">
            </div>
        </div>
    
        <Socials />
    </section>
</Layout>

<style>

    section {
        display: grid;
        grid-template-columns: 4rem 1fr 12rem;
        
        width: 100%;
        height: 100vh;
    
        background-color: gray;
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 1rem;
        grid-auto-flow: row dense;

        width: calc(100%- 2rem);
        min-width: 400px;
        height: calc(100% - 2rem);
    
        padding: 1rem;
    }

    @media (max-width: 768px){

        .dashboard {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas: initial;
        }

        .card {
            grid-area: initial !important;
        }

    }

    .card {
        background-color: #ffffff;
        border-radius: 1rem;
    }

    .card.sm {
        grid-column: span 1;
        grid-row: span 1;
    }
    .card.md {
        grid-column: span 2;
        grid-row: span 2;
    }
    .card.md-h {
        grid-column: span 1;
        grid-row: span 2;
    }
    .card.md-w {
        grid-column: span 2;
        grid-row: span 1;
    }
    .card.lg {
        grid-column: span 3;
        grid-row: span 3;
    }
    .card.lg-h {
        grid-column: span 2;
        grid-row: span 3;
    }
    .card.lg-w {
        grid-column: span 3;
        grid-row: span 2;
    }

</style>