#root {
  width: 100%;
  height: calc(100vh - 1rem);
}

.container {
  display: flex;

  width: 100%;
  height: 100%;

  background-color: rgb(10, 10, 10);
}

.navigation {
  position: relative;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  width: 16rem;
  height: calc(100% - 4rem);

  padding: 2rem;

  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;

  width: 100%;

  padding: 0; 
  margin: 0;
}

.navigation ul li {
  width: 100%;

  list-style: none;
}

.navigation ul li button {
  width: 100%;

  padding: 0.5rem 1rem;
  outline: unset;
  border: unset;
  border-radius: 0.5rem;

  background-color: rgb(30, 30, 30);
  color: #ffffff;
  cursor: pointer;

  transition: 0.2s;
}

.navigation ul li button:hover {
  background-color: rgb(40, 40, 40);
}
.navigation ul li button:active {
  background-color: rgb(20, 20, 20);
}

.content {
  position: relative;

  width: 100%;
  height: 100%;
}

.content .loadmessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 5;

  color: #ffffff;
}

.page-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: calc(100% - 4rem);
  height: calc(100% - 4rem);

  padding: 2rem;

  color: #ffffff;
  background-color: rgb(50, 50, 50);;
}

.open {
  animation-name: openTransition;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.close {
  animation-name: closeTransition;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes openTransition {
  from {
    opacity: 0;
    left: -100%;
    pointer-events: none;
  }

  80% {
    opacity: 0;
  }

  to {
    opacity: 1;
    left: 0;
    pointer-events: all;
  }
}
@keyframes closeTransition {
  from {
    opacity: 1;
    left: 0;
    pointer-events: all;
  }

  20% {
    opacity: 0;
  }

  to {
    opacity: 0;
    left: -100%;
    pointer-events: none;
  }
}

.room-wrapper {
  width: 100%;
  height: 100%;  
}

.room-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 4rem;
}

.room-head-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.room-head-buttons button {
  width: fit-content;

  padding: 0.5rem 1rem;
  outline: unset;
  border: unset;
  border-radius: 0.5rem;

  background-color: #000000;
  color: #ffffff;
  cursor: pointer;

  transition: 0.2s;
}

.room-head-buttons button:hover {
  background-color: rgb(40, 40, 40);
}
.room-head-buttons button:active {
  background-color: rgb(20, 20, 20);
}

.room-content {
  width: 100%;
  height: calc(100% - 8rem);

  border-radius: 0.5rem;

  background-color: #000000;
}

.room-chatbar {
  display: flex;
  gap: 0.5rem;

  width: 100%;
  height: 3rem;

  margin-top: 1rem;
}

.room-chatbar input {
  width: calc(100% - 2.4rem);
  height: calc(100% - 1rem);

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: unset;
  border: 0.1rem solid transparent;

  color: #ffffff;
  background-color: #000000;
  
  transition: 0.2s;
}

.room-chatbar input::placeholder {
  color: rgb(200, 200, 200);
}

.room-chatbar input:focus {
  border-color: #ffffff;
}

.room-chatbar button {
  width: fit-content;

  padding: 0.5rem 1rem;
  outline: unset;
  border: unset;
  border-radius: 0.5rem;

  background-color: #000000;
  color: #ffffff;
  cursor: pointer;

  transition: 0.2s;
}

.room-chatbar button:hover {
  background-color: rgb(40, 40, 40);
}
.room-chatbar button:active {
  background-color: rgb(20, 20, 20);
}