---

interface Props {
    URL:string;
    title:string;
    totalSearches:number;
}

const { URL, title, totalSearches } = Astro.props as Props

---

<div class="wrapper">
    <img src={URL} />

    <h3>{ title }</h3>
    <p>Total Searches: <span>{ totalSearches }</span></p>
</div>

<style>
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 10rem;
        height: 10rem;

        background-color: #3B3B3B;
        border-radius: 1rem;
    }

    .wrapper img {
        width: 5rem;
        border-radius: 50%;
        aspect-ratio: 1;
        object-fit: cover;
    }

    .wrapper h3 {
        margin: 0.5rem 0 0.5rem 0;    
    }

    .wrapper p {
        margin: 0 0 0.5rem 0;
        font-size: 0.5rem;

        color: #afafaf;
    }

    .wrapper p>span {
        color: #ffffff !important;
    }
</style>