---
	import MainLayout from "../layout/mainLayout.astro";
	
	const description = "This is the homepage"

---

<MainLayout title="Home" description={description}>

	<section>

		<p>Hi</p>

	</section>

</MainLayout>