@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
    height: 100dvh;
    font-family: 'Roboto', sans-serif;
}

.page-wrapper {
    position: relative;

    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(242, 248, 241), rgb(182, 188, 181));
}

.top-nav {
    display: flex;
    justify-content: end;

    width: calc(100% - 2rem);
    height: 5rem;

    padding: 0 1rem;

    background-color: #6f3974;
}

.top-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0;
}

.top-nav ul li {
    list-style: none;
}

.content-container {
    display: flex;
    gap: 1rem;

    width: 100%;
    height: calc(100% - 5rem)
}

.side-nav {
    width: 8rem;
    height: calc(100% - 2rem);

    padding: 1rem;

    background-color: #6f3974;
}

.side-nav h2 {
    background-color: #fbe7fe;
    outline: unset;
    border: 2px solid #050a05;
    color: #050a05;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    pointer-events: none;
}

.side-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0;
}

.side-nav ul li {
    list-style: none;
    width: 100%;
}

.side-nav ul li button {
    width: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    margin-right: 1rem;
    margin-top: 1rem;
}

.content-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;

    width: 100%;
}

.content-row-cell {
    padding: 0.5rem 1rem;
    background-color: #fbe7fe;
    border-radius: 0.5rem;
    border: 2px solid #050a05;
}

button.content-row-cell { 
    background-color: #fbe7fe;
    outline: unset;
    color: #050a05;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: left;

    transition: 0.25s;
}

button.content-row-cell:hover {
    background-color: #faf2fb;
}
button.content-row-cell:active {
    background-color: #e7cceb;
}


.content-row-cell h2 {
    margin: 0;
}
.content-row-cell p {
    margin: 0;
}

.primary-btn {
    background-color: #6f3974;
    outline: unset;
    border: 2px solid #050a05;
    color: #f2f8f1;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;

    transition: 0.25s;
}

.primary-btn:hover {
    background-color: #924d9a;
}
.primary-btn:active {
    background-color: #3e2041;
}

.secondary-btn {
    background-color: #fbe7fe;
    outline: unset;
    border: 2px solid #050a05;
    color: #050a05;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;

    transition: 0.25s;
}

.secondary-btn:hover {
    background-color: #faf2fb;
}
.secondary-btn:active {
    background-color: #e7cceb;
}

.task-modal {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(rgba(5, 10, 5,0.5), rgba(5, 10, 5,0.5));

    width: 100%;
    height: 100%;
}

.task-modal-content {   
    position: relative; 

    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 80%;
    height: 80%;

    border-radius: 0.5rem;
    border: 2px solid #050a05;

    padding: 1rem;

    background-color: #e7cceb;
}

.task-modal-content .exit-btn {
    position: absolute;

    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
}

.task-modal-content-desc {
    padding: 1rem;
    background-color: #f2f8f1;
    border-radius: 0.5rem;
}