---

---

<div class="bottomnav-wrapper">

    <div class="generation-move-btn-wrapper">
        <button class="down-gen-button"><img src="/assets/icons/svg/arrowdownn.svg" /></button>
        <button class="up-gen-button"><img src="/assets/icons/svg/arrowup.svg" /></button>
    </div>

    <div class="searchbar">
        <input type="text" placeholder="Search..." />
    </div>

</div>

<style>
    .generation-move-btn-wrapper button {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 2rem;
        height: 2rem;
    }

    .generation-move-btn-wrapper button img {
        width: 1.5rem;
    }
</style>